<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ressources humaines</h1>
    <p class="mb-4">
        Le tableau ci-dessous montre une liste de tous les ressources humaines.
    </p>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home/projects">Acceuil</a></li>
          <li class="breadcrumb-item active" aria-current="page">ressources humaines</li>
        </ol>
      </nav>

    
    <p class="mb-4">
        <a routerLink="/home/rh-add" class="btn btn-primary text-white">Ajouter un nouveau</a>
    </p>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des employée</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom prénom</th>
                        <th scope="col">Télephone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Compétence</th>
                        <th scope="col">Salaire</th>
                        <th>List des projets</th>
                        <th scope="col">Date d'ambauche</th>
                        

                        
                        
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let e of employees;let j=index;">
                            <td>{{ j+1 }}</td>
                            <td> {{ e.employee.fullname }} </td>
                            <td> {{ e.employee.phone }} </td>
                            <td> {{ e.employee.email }} </td>
                            <td> {{ e.employee.skill }} </td>
                            <td> {{ e.employee.salary | currency:'TND ' }} / {{e.employee.freq}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let p of e.projects">
                                        {{ p.title }}
                                    </li>
                                </ul>
                            </td>
                            <td> {{e.employee.dateJoin | date}} </td>
                            <td>

                                <button class="btn-sm btn btn-info" style="margin-right: 10px;" [routerLink]="'/home/rh-edit/'+e.id">Détails</button>
                                <button *ngIf="e.projects.length == 0" class="btn-sm btn btn-danger" style="margin-right: 10px;" (click)="deleteEmployee(e.id)" >supprimer</button>
                                
                            
                            </td>
                        </tr>
                      
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>